 /* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.container{
    min-height: 100vh;
    display: flex;
    width: 90%;
    margin: 0 auto;
  
}

.image-section{
    width: 50%;
    height: 500px;
    background: url(../images/Scarecrow.png) no-repeat;
    background-size: cover;
    background-position: left;
   
}

.foundDiv{
   width: 50%; 
}



.text-section{
    width: 50%; 
    margin-top:100px;  
    height: 500px;
    margin-left: 60px;
  
}

.text-section h1{
width: 480px;
font-weight: 700;
font-size: 64px;
letter-spacing: -0.035em;
font-family:'Space Mono';
}

.text-section p{
   font-family:  'Space Mono';
padding-top: 20px;
width: 250px;
font-weight: 400;
font-size: 24px;
line-height: 36px;
letter-spacing: -0.035em;

}
 
.text-button{
padding-top: 20px;
}

.text-button .btn{
    padding: 15px;
    background-color: black;
    color: white;
    }


   
@media (max-width:426px){
    .container{
        flex-direction: column;
        align-items: flex-start;
     
    }

    .image-section{
        width: 100%;
        height: 250px; 
    
    }

    .text-section{
        width: 100%; 
        height: 250px;
        align-items: flex-start;
        justify-items: start;
    
      
    }

    .text-section h1{
        width: 480px;
        font-weight: 700;
        font-size: 40px;
        letter-spacing: -0.01em;
        font-family:'Space Mono';
        align-items: flex-start;
        }

}  */



*{
   padding: 0; 
   margin: 0;
   box-sizing: border-box;
}


.container{
    width: 90%;
    margin: 0 auto;
     
}

.flex{
    display: flex;
}


#page-section .image-section{
    width: 50%;
    background-image: url('../images/Scarecrow.png');
    background-position: center;
    background-size: cover;
    min-height: 80vh;

    margin-top: 20px;
    
 }

 
 #page-section .text-section{
width: 50%;
min-height: 68vh;
margin-top: 40px;
margin-left: 60px;

 }



 #page-section .text-section h1{
    width: 480px;
    font-weight: 600;
    font-size: 64px;
    letter-spacing: -0.035em;
    font-family:'Space Mono';
    }



    #page-section .text-section p{
        font-family:  'Space Mono';
     padding-top: 20px;
     width: 250px;
     font-weight: 400;
     font-size: 24px;
     line-height: 36px;
     letter-spacing: -0.035em;
    }


     
    #page-section .text-section .text-button{
    padding-top: 50px;
    }

    #page-section .text-section .text-button .btn{
   padding: 10px;
   background-color: black;
   color: white;
    }


/* Mobile View */


@media (max-width: 426px){

    /* .flex-sm-column{
        flex-direction:column;
       }


#page-section .image-section{
    width: 100%;
}


#page-section .text-section{
    width: 100%;
} */


  /* .header{
        flex-direction: column;
        align-items: flex-start;
     
} */


.flex-sm-column{
    flex-direction:column;
   }

   /* .image-section{
    width: 100%;
   
 } */

   /* .text-section {
  width: 100%;
   align-items: flex-start; 
  text-align: start;

}  */



 #page-section .image-section{
    min-width: 100%; 
    max-width: 300px;
    /* align-items: center; */
    /* height: 50% */
    /* margin-left: 100px; */
    background-image: url('../images/Scarecrow.png');
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: block;
   

 } 

 
 /* img
 {
     max-width: 100%;
     /* min-width: 300px; */
     /* height: auto;
 } */ */

 
#page-section .text-section{
    margin-left: 10px;
    width: 100%;


}


#page-section .text-section h1{
    width: 328px;
    font-weight: 700;
    font-size: 64px;
    letter-spacing: -0.035em;
    font-family:'Space Mono';
    ;
    } 



    /* #page-section .text-section h1{
        Width: 350px;
        Height:142px;
        Top:407px;
        Left:24px;
        font-family:Space Mono ;
font-weight:700;
Size:48px;
line-height:71.09px;
letter-spacing:-3.5%
        } */


    #page-section .text-section p{
        width:200px ;
        font-weight:400 ;
        font-size: 18px;
        letter-spacing: -0.035em;
        font-family:'Space Mono';
        }

       
        


        /* img {
            max-width: 100%;
            max-height: 100%;
           }
           .image-section {
            height: 200px;
            width: 200px;
              align-items: center;
           } */


        }



